// Шрифты для текста
@font-face {
  font-family: 'OctavaC';
  font-style: normal;
  font-weight: normal;
  src: font-url('OctavaC.otf') format("opentype");
}
@font-face {
  font-family: 'OctavaC';
  font-style: normal;
  font-weight: bold;
  src: font-url('OctavaCBold.otf') format("opentype");
}
@font-face {
  font-family: 'OctavaC';
  font-style: italic;
  font-weight: normal;
  src: font-url('OctavaCIta.otf') format("opentype");
}
@font-face {
  font-family: 'OctavaC';
  font-style: italic;
  font-weight: bold;
  src: font-url('OctavaCBoldIta.otf') format("opentype");
}
// Шрифты для заголовков
@font-face {
  font-family: 'OfficinaSerifC';
  font-style: normal;
  font-weight: normal;
  src: font-url('OfficinaSerifC-Book.otf') format("opentype");
}
@font-face {
  font-family: 'OfficinaSerifC';
  font-style: normal;
  font-weight: bold;
  src: font-url('OfficinaSerifC-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'OfficinaSerifC';
  font-style: italic;
  font-weight: bold;
  src: font-url('OfficinaSerifC-BoldItalic.otf') format("opentype");
}

// Шрифты для выделенных фрагментов (черный текст на желтом фоне)
@font-face {
  font-family: 'OctavaSCC';
  font-style: normal;
  font-weight: normal;
  src: font-url('OctavaSCC.otf') format("opentype");
}