@import "variables";
@import "bootstrap-custom";

body {
  font-family: Georgia, serif;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin-bottom: 0;
}

h2 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  @include respond-to(min-width, 1600px) {
    width: 1370px;
  }
}

.navbar64_logo {
  text-align: center;
  padding: 10px 0;
  // img {height: 60px;}
}
.navbar64_logo__64 {
  padding: 10px 20px;
  display: inline-block;
}
.navbar64_logo__knight {
  padding: 10px 20px;
  display: inline-block;
}
.navbar64_logo__text {
  text-transform: uppercase;
  font-size: 24px;
  text-shadow: 0 0 0 hsl(0, 0%, 0%);
}

.navbar_64 {
  @include border(-top);
  background-color: $primary_color--beige;
}

.navbar_64__links {
  height: 40px;
  margin: 0;

  li {border-right: 1px solid $primary_color--black;}
  li:last-child {border-right: 0;}
}

.navbar64__links__logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -60px;
  text-align: center;
  a {
    background-color: white;
    text-decoration: none;
  }
}

.text_link_64 {
  font-variant: small-caps;
  font-size: 22px;
  display: block;
  text-align: center;
  line-height: 1.5;
  color: hsl(0, 0%, 30%);
  position: relative;
  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(43, 41%, 82%);
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;
  }
  &:hover, &:focus {
    transform: translateZ(0);
    text-decoration: none;
    color: $primary_color--black;
    transition: color 0.3s ease-out;
    &:before {
      transform: scaleX(1);
    }
  }
}

.content64__left, .content64__right {
  background-color: $primary_color--blue;
}

.content64__center {
  margin-bottom: -70px;
  img {margin-top: -110px; width: 100%;}
}
.conent64__bottom {
  @include border(-top);
  background-color: $primary_color--beige;
  ul {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  li {text-align: center};
  a {
    text-decoration: none;
    color: $primary_color--black;
    &:hover {
      background-color: hsl(43, 41%, 82%);
      transition: background-color 0.2s ease-in-out;
      .content64__bottom__link__text {
        border-bottom: 1px solid black;

      }
    }
  }
}
.content64__bottom__link__number {
  font-size: 80px;
}
.content64__bottom__link__text {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.black_header {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $primary_color--black;
  color: $primary_color--white;
  line-height: 1.5;
}
.column_thumnail {
  padding-left: 10px;
  padding-right: 10px;
  img {min-width: 100%;  max-height: 200px;}
  font-size: 18px;
}

.conent64__bottom__link {
  font-size: 22px;
}

.content64__archive {
  margin-right: 20px;
}
.flex {
  display: flex;
}
.flex_grow--1 {
  flex-basis: 0;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
}

%flex_grow--3 {
  flex-basis: 0;
  flex-grow: 3;
}
%flex_grow--7 {
  flex-basis: 0;
  flex-grow: 7;
}

.x_flex_grow--3 {
  @extend %flex_grow--3;
  max-width: 30%;
}
.x_flex_grow--7 {
  @extend %flex_grow--7;
  max-width: 70%;
}
.y_flex_grow--3 {
  @extend %flex_grow--3;
  max-height: 30%;
}
.y_flex_grow--7 {
  @extend %flex_grow--7;
  max-height: 70%;
}

.justify--center {
  @include vendor-prefix(justify-content, center);
}
.justify--sa {
  @include vendor-prefix(justify-content, space-around);
}
.justify--sb {
  @include vendor-prefix(justify-content, space-between);
}
.justify--fe {
  @include vendor-prefix(justify-content, flex-end);
}
.align--center {
  align-items: center;
}
.align--baseline {
  align-items: baseline;
}

.bottom_border {
  @include border(-bottom);
}
.top_border {
  @include border(-top);
}
.left_border {
  @include border(-left);
}
.right_border {
  @include border(-right);
}

.icon_svg {
  width: 100%;
  height: 100%;
  display: inline-block;
}