<div class="container">
    <div class="js--content_height row">
        <div class="col-xs-12 col-md-4 content64" data-rubric="{{ cms:page:left_space.rubric:string}}">
            <div class="black_header">
                <h2>
                    {{ cms:page:left_space.header:string }}
                </h2>
            </div>
            <div class="row content64__left__articles">
              <div class="col-xs-12 col-md-6 column_thumnail blue_article_hover" onclick="showFullContent(this)">
                <div class="column_thumnail__image">{{ cms:page_file:left_space.column1_image:image  }}</div>
                <div class="js--truncate column_thumnail__text blue_article_hover__text">{{ cms:page:left_space.column1_text:text }}</div>
              </div>
              <div class="col-xs-12 col-md-6 column_thumnail blue_article_hover" onclick="showFullContent(this)">
                <div class="column_thumnail__image">{{ cms:page_file:left_space.column2_image:image  }}</div>
                <div class="js--truncate column_thumnail__text blue_article_hover__text">{{ cms:page:left_space.column2_text:text }}</div>
              </div>
            </div>
        </div>
      <div class="hidden-xs hidden-sm col-md-4 content64__center">
        <div class="content64__center__image papper_effect">
            <div class="content64__center__represent_container">
                <div class="content64__center__represent_container__rubric"></div>
                <div id="js--content_represent" ></div>
                <div class="content64__center__represent_container__footer">«64 — ШАХМАТНОЕ ОБОЗРЕНИЕ»</div>
            </div>
            {{ cms:page_file:center_space.cover:image  }}
        </div>
      </div>
      <div class="col-xs-12 col-md-4 content64" data-rubric="{{ cms:page:right_space.rubric:string}}">
        <div class="black_header text-right">
            <h2>
                {{ cms:page:right_space.header:string }}
            </h2>
        </div>
        <div class="content64__right__articles">
            <div class="content64__right__articles__top blue_article_hover">
                <div class="row flex" onclick="showFullContent(this)">
                    <div class="col-xs-5 content64__right__article__image">
                        {{ cms:page_file:right_space.row1_image:image }}
                    </div>
                    <div class="js--truncate col-xs-7 content64__right__article__text blue_article_hover__text">
                        {{ cms:page:right_space.row1_text:rich_text }}
                    </div>
                </div>
                <div class="black_header">
                    <h3>
                        {{ cms:page:right_space.row_header1:string }}
                    </h3>
                </div>
            </div>
            <div class="content64__right__articles__bottom blue_article_hover">
                <div class="row flex" onclick="showFullContent(this)">
                    <div class="js--truncate  col-xs-7 content64__right__article__text blue_article_hover__text">
                        {{ cms:page:right_space.row2_text:rich_text }}
                    </div>
                    <div class="col-xs-5 content64__right__article__image">
                        {{ cms:page_file:right_space.row2_image:image }}
                    </div>
                </div>
                <div class="black_header">
                    <h3>
                      {{ cms:page:right_space.row_header2:string }}
                    </h3>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="conent64__bottom">
        <ul class="row justify--sa align--center">
            <li class="col-xs-3 right_border">
                <a class="conent64__bottom__link" href="#" onclick="showBottomContent(this)">
                    <div class="content64__bottom__link__number">{{ cms:page:bottom_space.number1:integer }}</div>
                    <div class="content64__bottom__link__header">{{ cms:page:bottom_space.header1:string }}</div>
                    <div class="content64__bottom__link__text">{{ cms:page:bottom_space.text1:text }}</div>
                </a>
            </li>
            <li class="col-xs-3 right_border">
                <a class="conent64__bottom__link" href="#" onclick="showBottomContent(this)">
                    <div class="content64__bottom__link__number">{{ cms:page:bottom_space.number2:integer }}</div>
                    <div class="content64__bottom__link__header">{{ cms:page:bottom_space.header2:string }}</div>
                    <div class="content64__bottom__link__text">{{ cms:page:bottom_space.text2:text }}</div>
                </a>
            </li>
            <li class="col-xs-3 right_border">
                <a class="conent64__bottom__link" href="#" onclick="showBottomContent(this)">
                    <div class="content64__bottom__link__number">{{ cms:page:bottom_space.number3:integer }}</div>
                    <div class="content64__bottom__link__header">{{ cms:page:bottom_space.header3:string }}</div>
                    <div class="content64__bottom__link__text">{{ cms:page:bottom_space.text3:text }}</div>
                </a>
            </li>
            <li class="col-xs-3">
                <a class="conent64__bottom__link" href="#" onclick="showBottomContent(this)">
                    <div class="content64__bottom__link__number">{{ cms:page:bottom_space.number4:integer }}</div>
                    <div class="content64__bottom__link__header">{{ cms:page:bottom_space.header4:string }}</div>
                    <div class="content64__bottom__link__text">{{ cms:page:bottom_space.text4:text }}</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer_64 row">
        <div class="content64__archive right_border col-xs-12 col-md-8">
            <div class="black_header">
                <h2>
                    {{ cms:page:archive_space.header:string }}
                </h2>
            </div>
            <div class="content64__archive__container">
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini1:integer }}" data-issue="{{ cms:page:archive_space.text_mini1:integer }}">
                    {{ cms:page_file:archive_space.cover_mini1:image }}
                </div>
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini2:integer }}" data-issue="{{ cms:page:archive_space.text_mini2:integer }}">
                    {{ cms:page_file:archive_space.cover_mini2:image }}
                </div>
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini3:integer }}" data-issue="{{ cms:page:archive_space.text_mini3:integer }}">
                    {{ cms:page_file:archive_space.cover_mini3:image }}
                </div>
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini4:integer }}" data-issue="{{ cms:page:archive_space.text_mini4:integer }}">
                    {{ cms:page_file:archive_space.cover_mini4:image }}
                </div>
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini5:integer }}" data-issue="{{ cms:page:archive_space.text_mini5:integer }}">
                    {{ cms:page_file:archive_space.cover_mini5:image }}
                </div>
                <div class="content64__archive__item" data-year="{{ cms:page:archive_space.year_mini6:integer }}" data-issue="{{ cms:page:archive_space.text_mini6:integer }}">
                    {{ cms:page_file:archive_space.cover_mini6:image }}
                </div>
            </div>
        </div>
        <div class="content64__announcement col-xs-12 col-md-4">
            <div class="black_header">
                <h2>
                    {{ cms:page:announcement_space.header:string }}
                </h2>
            </div>
            <div>
                {{ cms:page:announcement_space.text:rich_text }}
                {{ cms:page_file:announcement_space.image:image }}
            </div>
        </div>
    </div>
</div>